<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>


  <connectionStrings>

    <add name="ConferenceManagementConnectionString" connectionString="Server=15c64b2a-dec1-4c6e-9850-a3fa0099d59d.sqlserver.sequelizer.com;Database=db15c64b2adec14c6e9850a3fa0099d59d;User ID=sairmbfitcmcfiws;Password=TWxD5nPEchKedsZZitszcnLZQz4mvaBRiYnn5g6EuVMwzirAnL52bzPFjFWDrCjb;"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      
      
    </system.web>

</configuration>
